* {
    margin: 0; padding: 0;
   
   
  }
  html, body{
    background-color: #F8F4EA;
    font-family: minion-pro;
  }


.logo a{
    color: black;
    text-decoration: none;
    font-size: 30px;
    

}

.decade-text{
  width: 60%;
  margin: auto;
  font-size: 19px;
}


.decade-text p{
  padding-bottom: 15px;
}

.graph-block-container{

  width: 70%;
  margin: auto;
}
.selectButton{
cursor: pointer;
font-size: xx-large;
opacity: 0.5;
}

.selectButton:hover{
opacity: 1;
}

.selected{
  opacity: 1;
}
.graph-block{
  display: flex;
  justify-content: center;
  align-items: center;
}


g.tick line{
  display: none;
}

path.domain{
  display: none;
}



/* sets different rules for narrower screens (usually meaning mobile) If
you want to quickly test how this works on your computer, just make your 
browser window really skinny */
@media screen and (max-width: 800px) {

    .logo{
        font-size: 20px;
    }
    .graph-block{
      flex-direction: column;
    }
    
  }